@CHARSET "UTF-8";

.cont-checks-fondo{
	position: absolute;
  	border-radius: 10px 10px;
  	background-color: #2a2c31;
  	top:60px;
   	margin-left: 10px;
  	padding: 10px;
  	height: 500px;
  	width: 920px;
}
.cont-tabla{
	position:relative;
	background-color: black;
	width:900px;
	height: 420px;
	overflow-y:auto;
}
.checks-tabla{
	width: 100%;
}
.checks-tabla-titulo{
	border: solid 2px; 
	border-color: #000;
	font-size: 1em;
	background-color: #375a7f;
	font-weight: bold;
}

.th-check{
	text-align: center;
}

.tr-check{
	border: solid 2px;
	border-color: #000;
	background-color: #3c3c41;
}

.td-hidden{
	display: none;
}
.tr-check-elimino{
	background: #f13131;
	cursor: pointer;
	color:#000;
	font-weight: bold;
}
.cont-checks-botonera{
	position:relative;
	background-color: black;
	margin-bottom: 10px;
	height: 55px;
	padding: 2px;
}

.checks-fecha{
	width: 95px;
	height: 50px;
	border: solid; 
	border-radius: 3px 3px;
}
.btn-filtrar{
	width:70px; 
	height: 45px; 
	margin-left: 10px;
	margin-bottom: 2px;
}

.btn-mostrar{
	margin-left:470px;
	padding:0 auto;
	width:140px; 
	height: 45px; 
	margin-bottom: 2px;
}

.ico-eliminar{
    display: inline-block;
    transform: scaleY(1.3) scaleX(1.3);
    cursor: pointer;
}