@CHARSET "UTF-8";

.cont-graf{
	position: absolute;
  	border-radius: 10px 10px;
  	border-radius: 10px 10px;
  	background-color: #2a2c31;
  	padding: 1px;
  	width: 930px;
  	height: 430px;
  	margin-left: 10px;
  	top:60px;
}
.check-graf{
	position:absolute;
	display:inline;
	width: 920px;
	height: 430px;
	background-color: #000000;
}
.cont-botonera{
	position:absolute;
  	border-radius: 10px 10px;
  	border-radius: 10px 10px;
  	background-color: #000;	
	padding-top: 10px;
	margin-bottom:5px;
	margin: 0 auto;
	width: 800px;
	height:70px;
	text-align: center;
	margin-top: 5px;
	top:435px;
	left:70px;
}

.btn-volt, .btn-amp{
	display:inline-block;
	height: 50px;
	width:175px;
	background-color: #3c3c41;
	border-radius: 5px 5px;
	border: 2px solid;
	border-color: #2e3436;
	margin-left: 30px;
}
.btn-volt:hover, .btn-amp:hover{
	border: 2px solid;
	border-color: #fff;
	background-color: #8ae234;
}


.ico-boton{
    display: inline-block;
    transform: scaleY(2) scaleX(2);
    padding-right: 20px;
    color: #fff;
}
.ico-boton:hover{
	color: #000;
}

.ico-activo{
	color: #000;
}
.btn-activo{
	background-color: #8ae234;
	border: 2px solid;
	border-color: #fff;
}