@CHARSET "UTF-8";

.cont-relojes{
	position:relative;
	background-color: black;
	border: 0px solid white;
	width:480px;
	height: 320px;
}
.relojes-renglon1{
	zoom:1.39;
}


/* ###################################### CORRIENTE ############################ */

.corriente {
	position:relative;
	float:left;
	margin:2px;
	margin-top:5px;
	height: 115px;
    width: 115px;
}

.corriente-aguja {
  position: absolute;
  left: 47%;
  top:0%;
  transition: all 0.20s ease-in-out;
  transform: rotate(-130deg);
}

.corriente-titulo{
	position: absolute;
	font-weight: bold;
	font-size:1em;
	color: #fff;
	bottom:8px;
	margin-left: 38px;
	
}

.corriente-valor{
	position: absolute;
	font-weight: bold;
	font-size: 1.9em;
	color: #fff;
	text-shadow: -1px 0 #5B1010, 0 1px #5B1010, 1px 0 #5B1010, 0 -1px #5B1010;
	left:35px;
	bottom: 40px;
}
/* ###################################### VOLTAJE ############################ */
.voltaje {
	position:relative;
	float:left;
	margin:2px;
	margin-top:5px;
	padding-left:5px;
	height: 115px;
    width: 115px;
}

.voltaje-aguja {
  position: absolute;
  left: 47%;
  top:0%;
  transition: all 0.20s ease-in-out;
  transform: rotate(-130deg);
}

.voltaje-titulo{
	position: absolute;
	font-weight: bold;
	font-size:1em;
	color: #fff;
	bottom:8px;
	margin-left: 38px;
}

.voltaje-valor{
	position: absolute;
	font-weight: bold;
	font-size: 2em;
	color: #fff;
	text-shadow: -1px 0 #5B1010, 0 1px #5B1010, 1px 0 #5B1010, 0 -1px #5B1010;	
	left:25px;
	bottom: 40px;
}
.voltaje-valor-dec{
	position: absolute;
	font-weight: bold;
	font-size: 1.7em;
	color: #fff;
	text-shadow: -1px 0 #5B1010, 0 1px #5B1010, 1px 0 #5B1010, 0 -1px #5B1010;	
	left:70px;
	bottom:40px;
}

/* ###################################### BATERIA ############################ */
.bateria {
	position:relative;
	float:left;
	margin:2px;
	margin-top:2px;
	margin-left:5px;
}
.cartel {
	position:absolute;
	width:425px;
	margin-left:5px;
	border-radius: 5px 5px;
	bottom:28px;
	color:white;
	text-align:center;
	font-weight: bold;
	background-color: green;
}

/* ###################################### BOTONERA ############################ */
.botonera {
	position:absolute;
	top:170px;
	color:white;
	text-align:center;
	font-weight: bold;
	
}
.qrWifi{
	display:inline-block;
	position:absolute;
	width:100px;
	margin-left:25px;
	top:-5px;
}
.ico-apagado{
	display:inline-block;
	position:absolute;
	left:100px;
	top:5px;
	color:red;
	cursor: pointer;
	zoom:3;
}
