	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/11/2016 19:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-airplane-flight:before { content: "\f100"; }
.flaticon-ban-circle-symbol:before { content: "\f101"; }
.flaticon-battery:before { content: "\f102"; }
.flaticon-call-center-worker-with-headset:before { content: "\f103"; }
.flaticon-check:before { content: "\f104"; }
.flaticon-checked-symbol:before { content: "\f105"; }
.flaticon-cog-wheel-silhouette:before { content: "\f106"; }
.flaticon-cross-mark-on-a-black-circle-background:before { content: "\f107"; }
.flaticon-lightning:before { content: "\f108"; }
.flaticon-wifi-2:before { content: "\f109"; }
.flaticon-modem:before { content: "\f10a"; }
.flaticon-move-arrows:before { content: "\f10b"; }
.flaticon-open-wrench-tool-silhouette:before { content: "\f10c"; }
.flaticon-padlock:before { content: "\f10d"; }
.flaticon-pencil:before { content: "\f10e"; }
.flaticon-plus-sign-in-a-black-circle:before { content: "\f10f"; }
.flaticon-power-cord:before { content: "\f110"; }
.flaticon-power-sign:before { content: "\f111"; }
.flaticon-refresh-page-option:before { content: "\f112"; }
.flaticon-settings:before { content: "\f113"; }
.flaticon-wifi-0:before { content: "\f114"; }
.flaticon-signal-wifi-4:before { content: "\f115"; }
.flaticon-signal-wifi-3:before { content: "\f116"; }
.flaticon-signal-wifi-5:before { content: "\f117"; }
.flaticon-signal-wifi-1:before { content: "\f118"; }
.flaticon-star:before { content: "\f119"; }
.flaticon-time:before { content: "\f11a"; }
.flaticon-toolbox:before { content: "\f11b"; }
.flaticon-unlock:before { content: "\f11c"; }
.flaticon-woman-with-headset:before { content: "\f11d"; }
